<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1F970FC1E6E70CA00F6EE65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1F971101E6E70CA00F6EE65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1F9711B1E6E70CA00F6EE65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
